/* CUMA BUAT RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* SAMPE SINI RESET CSS */

html {
  background-color: rgba(243, 244, 246, 1);
  /* background-color: #121212;
  color: white; */
}

/* ============================================ PERSONAL PROJECT */

#personal-project {
  padding: 72px 0;
  margin: auto;
}

#personal-project .container {
  margin: 12px auto;
  max-width: 900px;
}

#personal-project .container h1 {
  margin-bottom: 24px;
  text-align: center;
  font-size: 32px;
}

#personal-project .container .cards {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#personal-project .container .cards .card {
  margin: 16px;
  flex-flow: row wrap;
  border: 1px black solid;
  /* border-radius: 10px; */
  overflow: hidden;
  box-shadow: 10px 10px rgba(106, 133, 255, 0.603);
  background-color: rgba(249, 250, 251, 1);
}

#personal-project .container .cards .card:hover {
  border: 1px rgba(106, 133, 255, 1) solid;
  /* border-radius: 10px; */
  box-shadow: 10px 10px rgba(0, 0, 0, 0.603);
  /* box-shadow: 0 0; */
  transition: all 0.3s;
}

#personal-project .container .cards .card .img-container {
  overflow: hidden;
}

#personal-project .container .cards .card .img-container .card-img {
  width: 100%;
}

#personal-project .container .cards .card .img-container .card-img:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

#personal-project .container .cards .card .card-container {
  padding: 16px 16px 28px 16px;
  z-index: 10;
}

#personal-project .container .cards .card .card-container .tags {
  padding: 6px 14px;
  background-color: rgba(209, 250, 229, 1);
  color: rgb(5, 150, 105);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 24px;
  font-size: 12px;
}

#personal-project .container .cards .card .card-container .content {
  margin-top: 24px;
  padding: 0 4px;
}

#personal-project .container .cards .card .card-container .content p {
  margin-top: 6px;
}

/* ============================================ // PERSONAL PROJECT */
/* ============================================ CV */

#cv {
  padding: 72px 0;
  margin: auto;
}

#cv .container {
  margin: 12px auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

#cv .container .cv-desc {
  margin: auto;
}

#cv .container h3 {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #121212;
}

#cv .container p {
  margin-top: 2px;
  font-size: 24px;
  letter-spacing: 1.7px;
  text-transform: capitalize;
  color: #1d1d1d;
}

#cv .container a:hover {
  background-color: rgb(99, 102, 241);

  border-top: 5px rgb(165, 180, 252) solid;
  border-right: 5px rgb(99, 102, 241) solid;

  border-bottom: 5px rgb(55, 48, 163) solid;
  border-left: 5px rgb(99, 102, 241) solid;

  transition: all 0.2s;
}

#cv .container a .right-arrow {
  margin-left: 8px;
  text-align: center;
}

#cv .container a .right-arrow img {
  height: 12px;
  display: inline-block;
}

/* ============================================ Banner / Carousel / Hero / Slider */

#slider .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#slider .banner h1 {
  margin: 20px auto;
  font-size: 50px;
  color: #fff;
}
/* btn home */
#slider .bttn-wrapper-1 {
  margin: 0 40px;
}
#slider .bttn-wrapper-2 {
  margin: 0 100px;
}
#slider .bttn-wrapper-3 {
  margin: 0 25px;
}
#slider .bttn-wrapper-4 {
  margin: 0 90px;
}

#slider .bttn {
  padding: 12px 30px;
  color: white;
  /* display: inline-block; */
  opacity: 0.9;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

#slider .explore {
  background-color: #444;
}

#slider .bttn:hover {
  background-color: #000;
  opacity: 0.8;
}

/* ============================================ ABOUT */
#about .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
#about .heading {
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}

#about .heading h2 {
  padding-bottom: 20px;
}

#about .content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 30px;
}

#about .content-items {
  width: 50%;
}

#about .content-items p {
  text-align: justify;
  line-height: 35px;
}

#about .pict {
  padding-top: 0;
  padding-left: 20%;
  width: 80%;
}

/* ============================================ Responsive */

@media (max-width: 1024px) {
  #personal-project .container .cards {
    display: flex;
    flex-flow: column;
    width: 75%;
  }

  #personal-project .container .cards {
    max-width: 400px;
  }

  /* about */
  #about .content {
    justify-content: center;
  }

  #about .content-items {
    width: 100%;
  }

  #about .heading {
    font-size: 15px;
    padding-bottom: 10px;
  }
  #about .content-items p {
    text-align: justify;
    line-height: 25px;
  }
}

@media (max-width: 670px) {
  /* about */
  #about .content {
    justify-content: center;
  }

  #about .content-items {
    width: 100%;
  }

  #about .content-items p {
    text-align: justify;
    line-height: 25px;
  }
}
